.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    background-color: #f3f4f6;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container h2:first-child {
    font-size: 1.3em;
    margin-top: 3.5%;
    text-align: center;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-grow: 1;
    margin: 0;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .testimonial-card {
        margin: 5px;
        max-width: 25%;
        padding: 1px;
    }
    .container {
        width: 100%;
    }
    
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; /* Adjusted width for better layout */
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    background: linear-gradient(135deg, #ffffff, #e0f7fa);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    position: relative;
    overflow: hidden; /* For the quote icon */
    
}


.testimonial-description {
    font-style: italic;
    color: #555;
    margin-bottom: 15px;
    font-size: 1em; /* Increased font size for emphasis */
}

.testimonial-name {
    margin: 5px 0;
    color: #333;
    font-weight: bold; /* Emphasized name */
    font-size: 1em;
}

.testimonial-rating {
    color: #ff9800; /* Gold color for the rating */
    font-weight: bold;
    font-size: 1em;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.testimonial-card h3 {
    margin: 0;
}

.star {
    color: #ff9800; /* Gold color for the stars */
    font-size: 1.5em; /* Adjust size as needed */
    margin: 0 2px; /* Space between stars */
}

.star.filled {
    color: #ff9800; /* Color for filled stars */
}

