.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow-y: auto; /* Allow scrolling */
}

.formEdu {
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px; /* Reduced max width */
    max-height: 80vh; /* Set maximum height */
    overflow-y: auto; /* Enable scrolling for the form */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .formEdu {
        max-width: 40%; /* Use more width on smaller screens */
        padding: 15px; /* Reduce padding */
        font-size: 0.9em; /* Slightly smaller font size */
        position: relative;
        left: 30%;
        /* right: 50%; */
    }
}

.formEdu input,
.formEdu textarea {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    resize: none; /* Prevent resizing of textarea */
}

.formEdu button {
    font-size: 1em;
    margin: 5px 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formEdu button[type="submit"] {
    background-color: green;
    color: white;
}

.formEdu button[type="button"] {
    background-color: red;
    color: white;
}

.btn_add {
    font-size: 14px;
    margin: 10px 0;
    background-color: green;
    border: 1px solid green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between; /* Space buttons evenly */
}
